body {
    font-family: Arial;
    background: #f2f2f2;
    text-align: center;
    margin-top: 50px;
}

input {
    padding: 10px;
    width: 200px;
}

button {
    padding: 10px 15px;
    margin-left: 5px;
    cursor: pointer;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}